<ion-header>

  <ion-navbar>
    <ion-title>Histórico {{ station.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openFilterHistory()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ng-container *ngFor="let sensor of history | filter: {id: filter.sensor} ">
      <ion-row>
        <ion-col col-12 text-center>
          <b>{{ sensor.name }}</b>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6 text-center>
          <b>Data</b>
        </ion-col>
        <ion-col col-6 text-center>
          <b>Medida</b>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let data of sensor.data">
        <ion-col col-6 text-center>{{ data.date | date:'d/M/yy hh :mm' }}</ion-col>
        <ion-col col-6 text-center>{{data.value }}
          <span ion-text color="primary">{{ sensor.unit }}</span>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>